.dropbtn {
    color: white;
    padding: 12px 0;
    border: none;
    cursor: pointer;
    min-width: 150px;
    border-bottom: 1px solid white;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
  }
  
  .dropdown-content a {
    min-width: 150px;
    padding: 12px 0;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ffffff;
    background-color: #222222;
    text-align: center;
  }
  
  .dropdown-content a:hover {background-color: #444444}

  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }