*{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
}

h1{
    font-size: 25px;
    border-bottom: 1px solid white;
}

table{
    border-collapse: collapse;
}

table *{
    font-size: 20px;
}

td{
    padding-right: 30px;
}

th{
    padding-right: 50px;
    border-bottom: 1px solid #ffffff;
    text-align: left;
}



/* DIVS */
.div-content{
    margin: 50px 20px;
    margin-bottom: 120px;
}

.div-content > *{
    margin: 25px 0;
}







/* BOTONES */

.btn-comenzar{
    font-size: 18px;
    padding: 12px 26px;
    text-decoration: none;
    background-color: #4CAF50;
    border-radius: 3px;

}
.btn-comenzar:hover{
    background-color: #3e8e41;
}


.btn-finalizar{
    font-size: 18px;
    padding: 12px 26px;
    text-decoration: none;
    background-color: #e20505;
    border-radius: 3px;
}
.btn-finalizar:hover{
    background-color: #a01f1f;
}





/* REMARCADOS USO */
#timedelta_duracion{
    background-color: #4caf50;
    padding: 5px 10px;
    text-align: center;
    
}

.tr-remarcado > *{
    background-color: #4caf50;
}

#tabla-registros *{
    font-size: 14px;
}

