<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <!-- CUSTOM DROPDOWN CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/dropdown.css')}}">
    <!-- CUSTOM FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!-- MOMENT JS -->
    <script src="{{url_for('static',filename='js/momentjs.js')}}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO HORAS</title>
</head>
<body>

    <!-- HEADER -->
    <header>
        <!-- DIV DROPDOWN SELECCIONAR USUARIO -->
        <div class="dropdown">
            <button class="dropbtn">{%if _id_usuario is none %}USUARIO{% else%}{{usuario.nombre}}{% endif %}</button>
            <div class="dropdown-content">
                {% for usuario in datos_usuario%}
                <a href="{{usuario._id}}">{{usuario.nombre}}</a>
                {% endfor %}
            </div>
        </div>
        <p style="display: none"></p>
    </header>

    {%if _id_usuario is not none%}
    <!-- MAIN -->
    <main>

        <!-- DIV REGISTRO ACUAL -->
        <div class="div-content" style="min-height: 205px;">
            
            {# Si el ultimo registro tiene un final_registro y esta cerrado. Formulario para crear un registro nuevo#}
            {% if datos_ultimo_registro_usuario.final_registro is not none%}
            <h1>Nuevo Registro</h1>
            <table>
                <tr>
                    <td>Tipo de registro</td><td><select name="select_tipo_registro" id="select_tipo_registro">{% for tipo_registro in datos_tipo_registro %}<option value="{{tipo_registro._id}}">{{tipo_registro.tipo}}</option>{% endfor %}</select></td>
                </tr>
            </table>
            <a class="btn-comenzar" href="/crear_registro/{{_id_usuario}}/" id="boton_comenzar">Comenzar</a>

            <!-- JS para dar valor dinamico segun el select al boton comenzar. -->
            <script src="{{url_for('static',filename='js/botones_url_dinamicos.js')}}"></script>

            {% else %}
            <h1>Registro Actual</h1>
            <table>
                <tr>
                    <td>Tipo</td><td>{{datos_ultimo_registro_usuario.tipo[0].tipo}}</td>
                </tr>
                <tr>
                    <td>Comienzo</td><td id="date_inicio_registro">{{datos_ultimo_registro_usuario.comienzo_registro|remover_milisegundos}}</td>
                </tr>
                <tr>
                    <td>Duracion</td><td id="timedelta_duracion">!!placeholder!!</td>
                </tr>
            </table>
            <a class="btn-finalizar" href="/cerrar_registro/{{_id_usuario}}" id="boton_finalizar">Finalizar</a>
            
            {% endif %}
        </div>
        

        <!-- DIV VISUALIZACION DATOS REGISTROS -->
        <div class="div-content">
            <h1>Datos Registros</h1>
            <table id="tabla-registros"> 
                <thead>
                    <tr>
                        <th>Tipo</th><th>Comienzo</th><th>Final</th><th>Duracion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in datos_registros_usuario%}
                    {% if registro.final_registro is none%}
                    <tr class="tr-remarcado">
                    {% else %}
                    <tr>
                    {%endif%}
                        <td>{{registro.tipo[0].tipo}}</td><td>{{registro.comienzo_registro|remover_milisegundos}}</td><td>{% if registro.final_registro is not none%}{{registro.final_registro|remover_milisegundos}}{% endif %}</td><td id="time_delta_registro">{% if registro.final_registro is not none%}{{(registro.final_registro-registro.comienzo_registro)|remover_milisegundos}}{% endif %}</td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </main>    
    {% endif %}
    
</body>

<script src="{{url_for('static',filename='js/timedelta.js')}}"></script>


</html>